.iZ8W30HPRQAuO6al90LU {
    position: absolute
}

.QYPW4nl6nHaIbrtaXf4h {
    position: relative
}

._ccvJ9JsfoF81kZ3lkJh {
    top: 0
}

._J57_xJ7KhmAX1D2Pnei {
    left: 0
}

.PojEYad6nPpbKmAUjVBI {
    top: 5rem
}

.c1ibYmNHw6Cxfcu_pPgz {
    left: 50%
}

.MN_MaEuEFmiXUnb4S5NS {
    z-index: 20
}

.O7PVNyZQb9PCjpNKbt_t {
    margin: -9rem
}

.RV8RoaI_SlEMC5CEQ3ms {
    margin-left: auto;
    margin-right: auto
}

.KmicKCo2aIIAJvfPPnrM {
    margin-left: 1rem;
    margin-right: 1rem
}

._9OKVeTXzfSwD_NYO6_G {
    margin-bottom: 1rem
}

.rD4HtsUG_hahmbh2Kj09 {
    margin-bottom: .5rem
}

.ttxtqsLWp2pFRX8yUvWd {
    display: block
}

.kqgYncRJQ7spwKfig6It {
    display: flex
}

.WpRYr14lnkKDxaIQzJ_o {
    height: 460px
}

.j34KztD3SBxL_tQWzosr {
    height: 100%
}

.Kj_JWX8VAGhGDhOAykml {
    height: .5rem
}

.jCISvWkW5oStPH6Wrb_H {
    width: 100%
}

.eGLbGfR5AYzKjFKW_AQT {
    width: .5rem
}

.HV01LldvyEqRHHy0hljF {
    max-width: 1280px
}

.I5nnt4bpo_o8qp1p2_FC {
    max-width: 56rem
}

.QFvy_qHEb4VhI8nsNH9k {
    max-width: none
}

.wfpSIkDBCpd44vEdymO_ {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.wfpSIkDBCpd44vEdymO_ {
    --tw-translate-x: -50%
}

.BrSO24r_jx46AXZOyBJR {
    flex-direction: column
}

.neyUwteEn7DOg9pBSJJE {
    align-items: center
}

._T15kfOPGkvwZnqhqKce {
    justify-content: space-between
}

.B1cgbA6Bb4LQo0qFJKck>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(.75rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(.75rem*var(--tw-space-x-reverse))
}

.YPSoR6AXtPgkmylUmcbT {
    border-radius: .25rem
}

.n8e6ORKgPTnY6zgs5HS7 {
    border-radius: 9999px
}

.yjGyQxv8jnYk9_MGMqLN {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

._ngJt2TgM57HPYTCC5GA {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/var(--tw-bg-opacity))
}

.HqvWGMU4tAF6SCT7aaHM {
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219/var(--tw-bg-opacity))
}

.F6maSyXBC_uv_A_dciar {
    --tw-bg-opacity: 0.5
}

.t5D88HfSsyfzALJWQB8t {
    background-image: url(https://flowbite.s3.amazonaws.com/blocks/marketing-ui/articles/background.png)
}

.POA0xdG25nlhxqWJyl1U {
    background-size: cover
}

.pcWvkQQ8p_VQZFs_K2QA {
    background-position: 50%
}

._6AI6SY1lyVfKpv37xl0 {
    background-repeat: no-repeat
}

.rhHZLKCNkg6rp7jwfB1J {
    padding: 1.5rem
}

.veFXkDzfJN473U3ycrV8 {
    padding-left: 1rem;
    padding-right: 1rem
}

._e063bssp_1bldcJ6kR0 {
    font-size: 1.5rem;
    line-height: 2rem
}

.osxEM2eQc4Pc_arzCZsv {
    font-size: 1rem;
    line-height: 1.5rem
}

.LYMps1kO2vF8HBymW3az {
    font-weight: 600
}

.P2kov_od1FPjxxII24T5 {
    font-weight: 800
}

.oTkHpmOXEgQRdykOe3sq {
    font-weight: 400
}

.MxQqv3Z913orO6JQGGbH {
    line-height: 1
}

.g3OYBOqwXUEW4dRGogkH {
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity))
}

.K1PPCJwslha8GUIvV_Cr {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity))
}

.pDeChwIM17vwwm9ZmlIw {
    --tw-text-opacity: 1;
    color: rgb(209 213 219/var(--tw-text-opacity))
}

.wP9HMsqy6b96l2HBRbgb {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.InmgdriTvIwr8C_lWYEj {
    -webkit-text-decoration-line: none;
    text-decoration-line: none
}

.zencAbqT6WdOZbhcPVjf {
    background-blend-mode: darken
}

._5zvlMLkN1qETxEl3IhT:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

@media (min-width: 640px) {

    .fQ3UmoCh_2qglPqQf5CZ {
        font-size: 1.875rem;
        line-height: 2.25rem
    }
}

@media (min-width: 1024px) {

    .QTzX2Cr9jhY6WXuEsiB_ {
        margin-bottom: 0
    }

    .aXohCatq2P98Q80o4vdb {
        flex-direction: row
    }

    .l0hZDMTUghc7ACx15hQU {
        align-items: center
    }

    .vAGTG1e_BcCgc9_9R6z3 {
        font-size: 2.25rem;
        line-height: 2.5rem
    }
}

@media (min-width: 1280px) {
    .BRg_hinIPYxGN5WJ_Xay {
        top:50%
    }

    ._oadEIkQd6OQiaXef3p8 {
        margin: -8rem
    }

    ._ocA0sk94abY4DpqKzYF {
        margin-left: auto;
        margin-right: auto
    }

    ._xc9_ta26QtN17Sx1_Fe {
        height: 537px
    }

    .trp_bA_rt_zvxYf81Zkg {
        width: 828px
    }

    .KWb4ZbhYGt096ggQOJa_ {
        --tw-translate-y: -50%;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .arrNNfkSdu1f3lPZlfMG {
        padding: 2.25rem
    }

    .Xjxpb8u_H96dZt4r1eF6 {
        padding-left: 0;
        padding-right: 0
    }
}
