  .a {
    width: 100%;
  }
  
  @media (min-width: 640px) {
    .a {
      max-width: 640px;
    }
  }
  
  @media (min-width: 768px) {
    .a {
      max-width: 768px;
    }
  }
  
  @media (min-width: 1024px) {
    .a {
      max-width: 1024px;
    }
  }
  
  @media (min-width: 1280px) {
    .a {
      max-width: 1280px;
    }
  }
  
  @media (min-width: 1536px) {
    .a {
      max-width: 1536px;
    }
  }
  
  .d {
    --tw-aspect-h: 3;
  }
  
  .p {
    color: var(--tw-prose-body);
    max-width: 65ch;
  }
  
  .p :where([class~="lead"]):not(:where([class~="not-prose"] *)) {
    color: var(--tw-prose-lead);
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 1.25em;
    line-height: 1.6;
  }
  
  .p :where(a):not(:where([class~="not-prose"] *)) {
    color: var(--tw-prose-links);
    font-weight: 500;
    text-decoration: underline;
  }
  
  .p :where(strong):not(:where([class~="not-prose"] *)) {
    color: var(--tw-prose-bold);
    font-weight: 600;
  }
  
  .p :where(ol):not(:where([class~="not-prose"] *)) {
    padding-left: 1.625em;
    list-style-type: decimal;
  }
  
  .p :where(ol[type="A"]):not(:where([class~="not-prose"] *)) {
    list-style-type: upper-alpha;
  }
  
  .p :where(ol[type="a"]):not(:where([class~="not-prose"] *)) {
    list-style-type: lower-alpha;
  }
  
  .p :where(ol[type="A" s]):not(:where([class~="not-prose"] *)) {
    list-style-type: upper-alpha;
  }
  
  .p :where(ol[type="a" s]):not(:where([class~="not-prose"] *)) {
    list-style-type: lower-alpha;
  }
  
  .p :where(ol[type="I"]):not(:where([class~="not-prose"] *)) {
    list-style-type: upper-roman;
  }
  
  .p :where(ol[type="i"]):not(:where([class~="not-prose"] *)) {
    list-style-type: lower-roman;
  }
  
  .p :where(ol[type="I" s]):not(:where([class~="not-prose"] *)) {
    list-style-type: upper-roman;
  }
  
  .p :where(ol[type="i" s]):not(:where([class~="not-prose"] *)) {
    list-style-type: lower-roman;
  }
  
  .p :where(ol[type="1"]):not(:where([class~="not-prose"] *)) {
    list-style-type: decimal;
  }
  
  .p :where(ul):not(:where([class~="not-prose"] *)) {
    padding-left: 1.625em;
    list-style-type: disc;
  }
  
  .p :where(ol > li):not(:where([class~="not-prose"] *))::marker {
    color: var(--tw-prose-counters);
    font-weight: 400;
  }
  
  .p :where(ul > li):not(:where([class~="not-prose"] *))::marker {
    color: var(--tw-prose-bullets);
  }
  
  .p :where(hr):not(:where([class~="not-prose"] *)) {
    border-color: var(--tw-prose-hr);
    border-top-width: 1px;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  
  .p :where(blockquote):not(:where([class~="not-prose"] *)) {
    color: var(--tw-prose-quotes);
    border-left-width: .25rem;
    border-left-color: var(--tw-prose-quote-borders);
    quotes: "â€œ""â€""â€˜""â€™";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em;
    font-style: italic;
    font-weight: 500;
  }
  
  .p :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *)):before {
    content: open-quote;
  }
  
  .p :where(blockquote p:last-of-type):not(:where([class~="not-prose"] *)):after {
    content: close-quote;
  }
  
  .p :where(h1):not(:where([class~="not-prose"] *)) {
    color: var(--tw-prose-headings);
    margin-top: 0;
    margin-bottom: .888889em;
    font-size: 2.25em;
    font-weight: 800;
    line-height: 1.11111;
  }
  
  .p :where(h1 strong):not(:where([class~="not-prose"] *)) {
    font-weight: 900;
  }
  
  .p :where(h2):not(:where([class~="not-prose"] *)) {
    color: var(--tw-prose-headings);
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.33333;
  }
  
  .p :where(h2 strong):not(:where([class~="not-prose"] *)) {
    font-weight: 800;
  }
  
  .p :where(h3):not(:where([class~="not-prose"] *)) {
    color: var(--tw-prose-headings);
    margin-top: 1.6em;
    margin-bottom: .6em;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.6;
  }
  
  .p :where(h3 strong):not(:where([class~="not-prose"] *)) {
    font-weight: 700;
  }
  
  .p :where(h4):not(:where([class~="not-prose"] *)) {
    color: var(--tw-prose-headings);
    margin-top: 1.5em;
    margin-bottom: .5em;
    font-weight: 600;
    line-height: 1.5;
  }
  
  .p :where(h4 strong):not(:where([class~="not-prose"] *)) {
    font-weight: 700;
  }
  
  .p :where(figure > *):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .p :where(figcaption):not(:where([class~="not-prose"] *)) {
    color: var(--tw-prose-captions);
    margin-top: .857143em;
    font-size: .875em;
    line-height: 1.42857;
  }
  
  .p :where(code):not(:where([class~="not-prose"] *)) {
    color: var(--tw-prose-code);
    font-size: .875em;
    font-weight: 600;
  }
  
  .p :where(code):not(:where([class~="not-prose"] *)):before, .p :where(code):not(:where([class~="not-prose"] *)):after {
    content: "`";
  }
  
  .p :where(a code):not(:where([class~="not-prose"] *)) {
    color: var(--tw-prose-links);
  }
  
  .p :where(pre):not(:where([class~="not-prose"] *)) {
    color: var(--tw-prose-pre-code);
    background-color: var(--tw-prose-pre-bg);
    border-radius: .375rem;
    margin-top: 1.71429em;
    margin-bottom: 1.71429em;
    padding: .857143em 1.14286em;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.71429;
    overflow-x: auto;
  }
  
  .p :where(pre code):not(:where([class~="not-prose"] *)) {
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    background-color: #0000;
    border-width: 0;
    border-radius: 0;
    padding: 0;
  }
  
  .p :where(pre code):not(:where([class~="not-prose"] *)):before, .p :where(pre code):not(:where([class~="not-prose"] *)):after {
    content: none;
  }
  
  .p :where(table):not(:where([class~="not-prose"] *)) {
    table-layout: auto;
    text-align: left;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: .875em;
    line-height: 1.71429;
  }
  
  .p :where(thead):not(:where([class~="not-prose"] *)) {
    border-bottom-width: 1px;
    border-bottom-color: var(--tw-prose-th-borders);
  }
  
  .p :where(thead th):not(:where([class~="not-prose"] *)) {
    color: var(--tw-prose-headings);
    vertical-align: bottom;
    padding-bottom: .571429em;
    padding-left: .571429em;
    padding-right: .571429em;
    font-weight: 600;
  }
  
  .p :where(tbody tr):not(:where([class~="not-prose"] *)) {
    border-bottom-width: 1px;
    border-bottom-color: var(--tw-prose-td-borders);
  }
  
  .p :where(tbody tr:last-child):not(:where([class~="not-prose"] *)) {
    border-bottom-width: 0;
  }
  
  .p :where(tbody td):not(:where([class~="not-prose"] *)) {
    vertical-align: baseline;
    padding: .571429em;
  }
  
  .p {
    --tw-prose-body: #374151;
    --tw-prose-headings: #111827;
    --tw-prose-lead: #4b5563;
    --tw-prose-links: #111827;
    --tw-prose-bold: #111827;
    --tw-prose-counters: #6b7280;
    --tw-prose-bullets: #d1d5db;
    --tw-prose-hr: #e5e7eb;
    --tw-prose-quotes: #111827;
    --tw-prose-quote-borders: #e5e7eb;
    --tw-prose-captions: #6b7280;
    --tw-prose-code: #111827;
    --tw-prose-pre-code: #e5e7eb;
    --tw-prose-pre-bg: #1f2937;
    --tw-prose-th-borders: #d1d5db;
    --tw-prose-td-borders: #e5e7eb;
    --tw-prose-invert-body: #d1d5db;
    --tw-prose-invert-headings: #fff;
    --tw-prose-invert-lead: #9ca3af;
    --tw-prose-invert-links: #fff;
    --tw-prose-invert-bold: #fff;
    --tw-prose-invert-counters: #9ca3af;
    --tw-prose-invert-bullets: #4b5563;
    --tw-prose-invert-hr: #374151;
    --tw-prose-invert-quotes: #f3f4f6;
    --tw-prose-invert-quote-borders: #374151;
    --tw-prose-invert-captions: #9ca3af;
    --tw-prose-invert-code: #fff;
    --tw-prose-invert-pre-code: #d1d5db;
    --tw-prose-invert-pre-bg: #00000080;
    --tw-prose-invert-th-borders: #4b5563;
    --tw-prose-invert-td-borders: #374151;
    font-size: 1rem;
    line-height: 1.75;
  }
  
  .p :where(p):not(:where([class~="not-prose"] *)) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
  
  .p :where(img):not(:where([class~="not-prose"] *)), .p :where(video):not(:where([class~="not-prose"] *)), .p :where(figure):not(:where([class~="not-prose"] *)) {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  .p :where(h2 code):not(:where([class~="not-prose"] *)) {
    font-size: .875em;
  }
  
  .p :where(h3 code):not(:where([class~="not-prose"] *)) {
    font-size: .9em;
  }
  
  .p :where(li):not(:where([class~="not-prose"] *)) {
    margin-top: .5em;
    margin-bottom: .5em;
  }
  
  .p :where(ol > li):not(:where([class~="not-prose"] *)), .p :where(ul > li):not(:where([class~="not-prose"] *)) {
    padding-left: .375em;
  }
  
  .p > :where(ul > li p):not(:where([class~="not-prose"] *)) {
    margin-top: .75em;
    margin-bottom: .75em;
  }
  
  .p > :where(ul > li > :first-child):not(:where([class~="not-prose"] *)) {
    margin-top: 1.25em;
  }
  
  .p > :where(ul > li > :last-child):not(:where([class~="not-prose"] *)) {
    margin-bottom: 1.25em;
  }
  
  .p > :where(ol > li > :first-child):not(:where([class~="not-prose"] *)) {
    margin-top: 1.25em;
  }
  
  .p > :where(ol > li > :last-child):not(:where([class~="not-prose"] *)) {
    margin-bottom: 1.25em;
  }
  
  .p :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"] *)) {
    margin-top: .75em;
    margin-bottom: .75em;
  }
  
  .p :where(hr + *):not(:where([class~="not-prose"] *)), .p :where(h2 + *):not(:where([class~="not-prose"] *)), .p :where(h3 + *):not(:where([class~="not-prose"] *)), .p :where(h4 + *):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }
  
  .p :where(thead th:first-child):not(:where([class~="not-prose"] *)) {
    padding-left: 0;
  }
  
  .p :where(thead th:last-child):not(:where([class~="not-prose"] *)) {
    padding-right: 0;
  }
  
  .p :where(tbody td:first-child):not(:where([class~="not-prose"] *)) {
    padding-left: 0;
  }
  
  .p :where(tbody td:last-child):not(:where([class~="not-prose"] *)) {
    padding-right: 0;
  }
  
  .p > :where(:first-child):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }
  
  .p > :where(:last-child):not(:where([class~="not-prose"] *)) {
    margin-bottom: 0;
  }
  
  .r {
    font-size: 1.125rem;
    line-height: 1.77778;
  }
  
  .r :where(p):not(:where([class~="not-prose"] *)) {
    margin-top: 1.33333em;
    margin-bottom: 1.33333em;
  }
  
  .r :where([class~="lead"]):not(:where([class~="not-prose"] *)) {
    margin-top: 1.09091em;
    margin-bottom: 1.09091em;
    font-size: 1.22222em;
    line-height: 1.45455;
  }
  
  .r :where(blockquote):not(:where([class~="not-prose"] *)) {
    margin-top: 1.66667em;
    margin-bottom: 1.66667em;
    padding-left: 1em;
  }
  
  .r :where(h1):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
    margin-bottom: .833333em;
    font-size: 2.66667em;
    line-height: 1;
  }
  
  .r :where(h2):not(:where([class~="not-prose"] *)) {
    margin-top: 1.86667em;
    margin-bottom: 1.06667em;
    font-size: 1.66667em;
    line-height: 1.33333;
  }
  
  .r :where(h3):not(:where([class~="not-prose"] *)) {
    margin-top: 1.66667em;
    margin-bottom: .666667em;
    font-size: 1.33333em;
    line-height: 1.5;
  }
  
  .r :where(h4):not(:where([class~="not-prose"] *)) {
    margin-top: 1.77778em;
    margin-bottom: .444444em;
    line-height: 1.55556;
  }
  
  .r :where(img):not(:where([class~="not-prose"] *)), .r :where(video):not(:where([class~="not-prose"] *)), .r :where(figure):not(:where([class~="not-prose"] *)) {
    margin-top: 1.77778em;
    margin-bottom: 1.77778em;
  }
  
  .r :where(figure > *):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .r :where(figcaption):not(:where([class~="not-prose"] *)) {
    margin-top: 1em;
    font-size: .888889em;
    line-height: 1.5;
  }
  
  .r :where(code):not(:where([class~="not-prose"] *)) {
    font-size: .888889em;
  }
  
  .r :where(h2 code):not(:where([class~="not-prose"] *)) {
    font-size: .866667em;
  }
  
  .r :where(h3 code):not(:where([class~="not-prose"] *)) {
    font-size: .875em;
  }
  
  .r :where(pre):not(:where([class~="not-prose"] *)) {
    border-radius: .375rem;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em 1.5em;
    font-size: .888889em;
    line-height: 1.75;
  }
  
  .r :where(ol):not(:where([class~="not-prose"] *)), .r :where(ul):not(:where([class~="not-prose"] *)) {
    padding-left: 1.55556em;
  }
  
  .r :where(li):not(:where([class~="not-prose"] *)) {
    margin-top: .666667em;
    margin-bottom: .666667em;
  }
  
  .r :where(ol > li):not(:where([class~="not-prose"] *)), .r :where(ul > li):not(:where([class~="not-prose"] *)) {
    padding-left: .444444em;
  }
  
  .r > :where(ul > li p):not(:where([class~="not-prose"] *)) {
    margin-top: .888889em;
    margin-bottom: .888889em;
  }
  
  .r > :where(ul > li > :first-child):not(:where([class~="not-prose"] *)) {
    margin-top: 1.33333em;
  }
  
  .r > :where(ul > li > :last-child):not(:where([class~="not-prose"] *)) {
    margin-bottom: 1.33333em;
  }
  
  .r > :where(ol > li > :first-child):not(:where([class~="not-prose"] *)) {
    margin-top: 1.33333em;
  }
  
  .r > :where(ol > li > :last-child):not(:where([class~="not-prose"] *)) {
    margin-bottom: 1.33333em;
  }
  
  .r :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"] *)) {
    margin-top: .888889em;
    margin-bottom: .888889em;
  }
  
  .r :where(hr):not(:where([class~="not-prose"] *)) {
    margin-top: 3.11111em;
    margin-bottom: 3.11111em;
  }
  
  .r :where(hr + *):not(:where([class~="not-prose"] *)), .r :where(h2 + *):not(:where([class~="not-prose"] *)), .r :where(h3 + *):not(:where([class~="not-prose"] *)), .r :where(h4 + *):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }
  
  .r :where(table):not(:where([class~="not-prose"] *)) {
    font-size: .888889em;
    line-height: 1.5;
  }
  
  .r :where(thead th):not(:where([class~="not-prose"] *)) {
    padding-bottom: .75em;
    padding-left: .75em;
    padding-right: .75em;
  }
  
  .r :where(thead th:first-child):not(:where([class~="not-prose"] *)) {
    padding-left: 0;
  }
  
  .r :where(thead th:last-child):not(:where([class~="not-prose"] *)) {
    padding-right: 0;
  }
  
  .r :where(tbody td):not(:where([class~="not-prose"] *)) {
    padding: .75em;
  }
  
  .r :where(tbody td:first-child):not(:where([class~="not-prose"] *)) {
    padding-left: 0;
  }
  
  .r :where(tbody td:last-child):not(:where([class~="not-prose"] *)) {
    padding-right: 0;
  }
  
  .r > :where(:first-child):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }
  
  .r > :where(:last-child):not(:where([class~="not-prose"] *)) {
    margin-bottom: 0;
  }
  
  .s {
    --tw-prose-links: #4f46e5;
    --tw-prose-invert-links: #6366f1;
  }
  
  .aa {
    position: absolute;
  }
  
  .ab {
    position: relative;
  }
  
  .ak {
    inset: 0;
  }
  
  .cx {
    left: calc(50% - 19rem);
  }
  
  .cy {
    left: calc(50% - 4rem);
  }
  
  .ec {
    isolation: isolate;
  }
  
  .ed {
    z-index: -10;
  }
  
  .eg {
    z-index: 10;
  }
  
  .en {
    order: 3;
  }
  
  .gk {
    margin-top: -3rem;
    margin-bottom: -3rem;
  }
  
  .gx {
    margin-left: auto;
    margin-right: auto;
  }
  
  .hm {
    margin-left: -.125rem;
  }
  
  .hw {
    margin-left: -1rem;
  }
  
  .id {
    margin-right: -.25rem;
  }
  
  .in {
    margin-right: -24rem;
  }
  
  .kq {
    margin-right: 2rem;
  }
  
  .la {
    margin-top: 4rem;
  }
  
  .lb {
    margin-top: .5rem;
  }
  
  .lf {
    margin-top: .75rem;
  }
  
  .lh {
    margin-top: 1rem;
  }
  
  .li {
    margin-top: 10rem;
  }
  
  .lj {
    margin-top: 1.25rem;
  }
  
  .lk {
    margin-top: 1.5rem;
  }
  
  .lu {
    display: block;
  }
  
  .lx {
    display: flex;
  }
  
  .mb {
    display: grid;
  }
  
  .mo {
    aspect-ratio: 16 / 9;
  }
  
  .nc {
    height: .125rem;
  }
  
  .nh {
    height: 2.5rem;
  }
  
  .oc {
    height: 1.5rem;
  }
  
  .ph {
    height: 100%;
  }
  
  .pk {
    max-height: 14rem;
  }
  
  .rd {
    width: .125rem;
  }
  
  .rj {
    width: 2.5rem;
  }
  
  .se {
    width: 1.5rem;
  }
  
  .tn {
    width: 100%;
  }
  
  .tv {
    max-width: 42rem;
  }
  
  .ua {
    max-width: 80rem;
  }
  
  .uk {
    max-width: 36rem;
  }
  
  .uo {
    flex: none;
  }
  
  .ye {
    grid-auto-rows: minmax(0, 1fr);
  }
  
  .yg {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  .yr {
    flex-direction: column;
  }
  
  .yt {
    flex-wrap: wrap;
  }
  
  .yz {
    align-items: center;
  }
  
  .zd {
    justify-content: flex-end;
  }
  
  .zf {
    justify-content: space-between;
  }
  
  .zr {
    gap: 1.5rem;
  }
  
  .zt {
    gap: 2rem;
  }
  
  .aad {
    -moz-column-gap: .625rem;
         column-gap: .625rem;
  }
  
  .aag {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  
  .aaj {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  
  .aak {
    row-gap: .25rem;
  }
  
  .aam {
    row-gap: 3rem;
  }
  
  .abt > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(5rem * var(--tw-space-y-reverse));
  }
  
  .acc > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
  }
  
  .aco > :not([hidden]) ~ :not([hidden]) {
    border-color: #1118271a;
  }
  
  .adg {
    overflow: hidden;
  }
  
  .adq {
    border-radius: 1rem;
  }
  
  .ads {
    border-radius: 9999px;
  }
  
  .afm {
    border-top-width: 1px;
  }
  
  .aga {
    border-color: #1118271a;
  }
  
  .agc {
    border-color: #1118270d;
  }
  
  .aiq {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  }
  
  .ais {
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity));
  }
  
  .aiz {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  }
  
  .alp {
    background-color: #ffffff1a;
  }
  
  .alt {
    --tw-bg-opacity: 1;
    background-color: rgb(254 249 195 / var(--tw-bg-opacity));
  }
  
  .amo {
    background-image: linear-gradient(to top, var(--tw-gradient-stops));
  }
  
  .ana {
    --tw-gradient-from: #111827 var(--tw-gradient-from-position);
    --tw-gradient-to: #11182700 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }
  
  .ann {
    --tw-gradient-to: #11182700 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #11182766 var(--tw-gradient-via-position), var(--tw-gradient-to);
  }
  
  .apd {
    fill: #ffffff80;
  }
  
  .aqe {
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .arf {
    padding-left: .75rem;
    padding-right: .75rem;
  }
  
  .ark {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .arm {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .arq {
    padding-top: .375rem;
    padding-bottom: .375rem;
  }
  
  .ars {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .ary {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
  .asy {
    padding-bottom: 2rem;
  }
  
  .auq {
    padding-top: 3rem;
  }
  
  .ave {
    padding-top: 1.5rem;
  }
  
  .avh {
    padding-top: 20rem;
  }
  
  .avl {
    text-align: center;
  }
  
  .avs {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  
  .avz {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  
  .awa {
    font-size: .875rem;
    line-height: 1.25rem;
  }
  
  .awc {
    font-size: .75rem;
    line-height: 1rem;
  }
  
  .awd {
    font-weight: 700;
  }
  
  .awe {
    font-weight: 500;
  }
  
  .awg {
    font-weight: 600;
  }
  
  .awp {
    line-height: 1.5rem;
  }
  
  .awr {
    line-height: 2rem;
  }
  
  .awx {
    letter-spacing: -.025em;
  }
  
  .axo {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity));
  }
  
  .axr {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
  }
  
  .axs {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
  }
  
  .axv {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
  }
  
  .ayh {
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
  }
  
  .bah {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  
  .bbt {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  }
  
  .bbx {
    --tw-ring-inset: inset;
  }
  
  .bco {
    --tw-ring-color: #1118271a;
  }
  
  .bic:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }
  
  .bqg:hover .brn {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
  }
  
  @media (min-width: 640px) {
  
    .bxc {
      margin-top: 5rem;
    }
  
    .bxn {
      margin-top: 2rem;
    }
  
    .bxy {
      aspect-ratio: 2;
    }
  
    .cbc {
      flex-direction: row-reverse;
    }
  
    .cbv {
      gap: 2rem;
    }
  
    .ccf {
      row-gap: 4rem;
    }
  
    .cfm {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  
    .chf {
      padding-top: 4rem;
    }
  
    .chl {
      padding-top: 12rem;
    }
  
    .chx {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  }
  
  @media (min-width: 1024px) {
  
    .css {
      grid-row: span 2 / span 2;
    }
  
    .ctg {
      margin-left: 0;
      margin-right: 0;
    }
  
    .cum {
      margin-top: 5rem;
    }
  
    .cur {
      margin-top: 1rem;
    }
  
    .cvf {
      aspect-ratio: 1;
    }
  
    .cws {
      width: 16rem;
    }
  
    .cxg {
      max-width: 56rem;
    }
  
    .cxk {
      max-width: 32rem;
    }
  
    .cxm {
      max-width: none;
    }
  
    .cxv {
      flex-shrink: 0;
    }
  
    .cyr {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  
    .cys {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  
    .czb {
      flex-direction: row;
    }
  
    .czd {
      flex-direction: column;
    }
  
    .dap > :not([hidden]) ~ :not([hidden]) {
      --tw-space-y-reverse: 0;
      margin-top: calc(5rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(5rem * var(--tw-space-y-reverse));
    }
  
    .dbz {
      border-top-width: 1px;
    }
  
    .dca {
      border-top-width: 0;
    }
  
    .dcd {
      border-color: #1118271a;
    }
  
    .ddh {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  
    .dfc {
      padding-top: 0;
    }
  
    .dfr {
      padding-top: 2rem;
    }
  
    .dfs {
      padding-top: 20rem;
    }
  }
  
  @media (min-width: 1280px) {
  
    .div {
      display: block;
    }
  }
  