.iZ8W30HPRQAuO6al90LU {
    position: absolute
}

._J57_xJ7KhmAX1D2Pnei {
    left: 0
}

.rD4HtsUG_hahmbh2Kj09 {
    margin-bottom: .5rem
}

.ttxtqsLWp2pFRX8yUvWd {
    display: block
}

.kqgYncRJQ7spwKfig6It {
    display: flex
}

.j2x7_17hqRVmwte_tWFa {
    display: none
}

.kGhDh7KA3u9kW8Wcdi48 {
    max-width: 36rem
}

.neyUwteEn7DOg9pBSJJE {
    align-items: center
}

._WclR59Ji8jwfmjPtOei {
    justify-content: center
}

._T15kfOPGkvwZnqhqKce {
    justify-content: space-between
}

.FLfl_xS1XCloWU2wRi87>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(1rem*var(--tw-space-y-reverse));
    margin-top: calc(1rem*(1 - var(--tw-space-y-reverse)))
}

._Qk4_E9_iLqcHsRZZ4ge {
    border-radius: .5rem
}

.PWreZZgitgAm_Nv4Noh9 {
    border-width: 1px
}

.pxHuWvF853ck68OLN6ef {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235/var(--tw-border-opacity))
}

.yjGyQxv8jnYk9_MGMqLN {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.wXj0hjkuOPeJ16vX1FYB {
    padding: 1.25rem
}

.rhHZLKCNkg6rp7jwfB1J {
    padding: 1.5rem
}

.zhRMeqbg7JsftloqW_W6 {
    padding-bottom: .5rem;
    padding-top: .5rem
}

.veFXkDzfJN473U3ycrV8 {
    padding-left: 1rem;
    padding-right: 1rem
}

.MHoELl3tKM3hhIMRJvNV {
    padding-top: 0
}

._F_1gdhzusC6tSOWHtx_ {
    text-align: center
}

.XdjN1uxS_rsa3F90ox40 {
    font-weight: 300
}

.oTkHpmOXEgQRdykOe3sq {
    font-weight: 400
}

._A6LflweZRUwrcL6M2Tk {
    font-weight: 500
}

.g3OYBOqwXUEW4dRGogkH {
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity))
}

.K1PPCJwslha8GUIvV_Cr {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity))
}

.wP9HMsqy6b96l2HBRbgb {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.lhxYQ_2y3sYNN3W1V_3q {
    --tw-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

@media (min-width: 640px) {
    .U4m6yFbNbl_ea9gVo2Uw {
        display:flex
    }

    ._mELhemY9faJ9cOfhVds {
        width: auto
    }

    ._rT9gacXyvSO1fCjLFak>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-bottom: calc(0px*var(--tw-space-y-reverse));
        margin-top: calc(0px*(1 - var(--tw-space-y-reverse)))
    }

    ._uGk0TKCucyvLBoD8KyB>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-left: calc(1rem*(1 - var(--tw-space-x-reverse)));
        margin-right: calc(1rem*var(--tw-space-x-reverse))
    }
}

@media (min-width: 768px) {
    ._ALrM3QjY4w2nD9x3ELz {
        height: auto
    }
}
